
<h2>You Haven't Rated Today...</h2>
  
  <h3>At the moment you are trying "tea break every hour"</h3>


  <h3>How happy are you?</h3>

  <input type="radio" name = "happiness" value="10">
  <input type="radio" name = "happiness" value="9">
  <input type="radio" name = "happiness" value="8">
  <input type="radio" name = "happiness" value="7">
  <input type="radio" name = "happiness" value="6">
  <input type="radio" name = "happiness" value="5">
  <input type="radio" name = "happiness" value="4">
  <input type="radio" name = "happiness" value="3">
  <input type="radio" name = "happiness" value="2">
  <input type="radio" name = "happiness" value="1">
  
  <h3>How productive have you been?</h3>

  <input type="radio" name = "productivity" value="10">
  <input type="radio" name = "productivity" value="9">
  <input type="radio" name = "productivity" value="8">
  <input type="radio" name = "productivity" value="7">
  <input type="radio" name = "productivity" value="6">
  <input type="radio" name = "productivity" value="5">
  <input type="radio" name = "productivity" value="4">
  <input type="radio" name = "productivity" value="3">
  <input type="radio" name = "productivity" value="2">
  <input type="radio" name = "productivity" value="1">

  <h3>How well did you stick to the test?</h3>

  <input type="radio" name = "veracity" value="10">
  <input type="radio" name = "veracity" value="9">
  <input type="radio" name = "veracity" value="8">
  <input type="radio" name = "veracity" value="7">
  <input type="radio" name = "veracity" value="6">
  <input type="radio" name = "veracity" value="5">
  <input type="radio" name = "veracity" value="4">
  <input type="radio" name = "veracity" value="3">
  <input type="radio" name = "veracity" value="2">
  <input type="radio" name = "veracity" value="1">


<h2>Your Tests</h2>

