    <div class="container home">
      
      <header class="jumbotron masthead">
        <div class="inner">
          <h1><img src='/static/img/logo-h1.png' />Workalyse</h1>
          <p>Improve the way you work by measuring your happiness</p>
        </div>
      </header>

      <hr id = "_signup" class='soften'>

      <div id='signup'>
        <h2>Sign Up</h2>
        <form action = "/signup" method = "post"> 
          <input name = "email" placeholder = "Sign up now with your company email" />
          <button>Signup</button>
        </form>  
        <p>Or <a href = "#about">keep reading&hellip;</a></p>
        
      </div>  

      <hr id = "_about" class='soften'>


      <div id="about">
        <h2>Working better with Workalyse</h2>
        <p>Companies are very good at optimizing for their customers. Techniques such as AB testing
          give detailed information on how to improve a product based on data.</p>
        
        <p>But a product is only half of a company. The people in that company are just as important.</p>
        
        <p>We want to help you work better by applying the same techniques used to improve products
          to your job. We want to measure your job satisfaction and productivity, and empower you to
          improve your day-to-day life.
        </p>
        
        <p>By allowing you to test simple experiments, and recording how productive and happy it made you,
          we hope that you will be able to see clear increases in your performance and happiness.</p>
          
        <p>It's completely free to <a href = "#_signup">sign up and try</a> - just give us your work email and we'll send you 
          instructions on how to start.</p>
             
      </div>

    </div><!-- /container -->



    <div class='modal fade' id = "loginForm">
      <form>
        <div class='modal-header'>
          <a class="close" data-dismiss="modal">×</a>
          <h2>Login</h2>
        </div>
        <div class='modal-body'>  
            <label for="login-email">Email</label>
            <input id = "login-email" placeholder="name@company-email.com" />
            
            <label for="login-pwd">Password</label>
            <input id = "login-pwd" type="password" />
        </div>  
        <div class="modal-footer">
          <button class='btn btn-primary'>login</button>
          <a href ="/forgot">Forgot Password</a>

        </div>
      </form>  
    </div>

